In [1]:
import pandas as pd

# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [2]:
id1 = "208946624"

In [3]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [4]:
#df = pd.DataFrame([id1,id2])

In [5]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

aviram klaiman

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

first we bring the data

In [6]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

changing the date to DateTime type
and add a month column

In [7]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month

In [8]:
new_data = vacc_df.loc[vacc_df.month == 4].copy()
print("The numbers of rows in my month is :" + str(new_data.shape[0]))

The numbers of rows in my month is :6118

 # Q2

we see how much of the values are missing:

In [15]:
 new_data.isnull().sum()

location                                  0
iso_code                                  0
date                                      0
total_vaccinations                     2641
people_vaccinated                      2828
people_fully_vaccinated                3393
daily_vaccinations_raw                 3168
daily_vaccinations                        0
total_vaccinations_per_hundred         2641
people_vaccinated_per_hundred           891
people_fully_vaccinated_per_hundred    3393
daily_vaccinations_per_million           17
month                                     0
dtype: int64

for the "daily_vaccinations" attribut missing data, we will fill them as there wants any vaccination in that day, so they filled with '0'.

In [14]:
new_data['daily_vaccinations'].fillna(0,inplace = True)
new_data['daily_vaccinations']

38        3000.0
39        3000.0
40        3000.0
41        3000.0
42        3000.0
          ...
37992    13517.0
37993    15562.0
37994    17860.0
37995    17971.0
37996    19194.0
Name: daily_vaccinations, Length: 6118, dtype: float64

<div> for the 'people_vaccinated_per_hundred' missing data, we cant use the same method as before.<div> it make no sens that country that had one day 10 people vaccinated per hundred in the next day will have none.<div> 
so now we will autofill them with the last data they had, after we grup them by countries.

In [11]:
new_data['people_vaccinated_per_hundred'] = new_data.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x: x.fillna(method='ffill'))
new_data[['people_vaccinated_per_hundred','daily_vaccinations']]

       people_vaccinated_per_hundred  daily_vaccinations
38                               NaN              3000.0
39                               NaN              3000.0
40                               NaN              3000.0
41                               NaN              3000.0
42                               NaN              3000.0
...                              ...                 ...
37992                           2.38             13517.0
37993                           2.49             15562.0
37994                           2.61             17860.0
37995                           2.70             17971.0
37996                           2.79             19194.0

[6118 rows x 2 columns]

# Q3

In [49]:
new_data['iso_code'] = new_data['iso_code'].astype('str')
condisen = (new_data['iso_code'].str.len() == 3)
new_data_only_countries = new_data.loc[condisen]

In [54]:
max_vacc = new_data_only_countries['daily_vaccinations'].max()
new_data_only_countries.loc[new_data_only_countries.daily_vaccinations == max_vacc][['location','date']]

     location       date
6972    China 2021-04-30

# Q4

In [56]:
new_data['daily_vaccinations'].median()

7626.0

In [57]:
 new_data['daily_vaccinations'].mean()

350837.0348152991

the median is more than twice bigger than the mean, and it is because there is countries that have much more vaccines than others countries.

# Q5

In [70]:
first_isr_week = new_data[new_data.loc[:,'location'] == 'Israel'][0:7]
first_isr_week[['date','people_vaccinated_per_hundred']]

            date  people_vaccinated_per_hundred
16880 2021-04-01                          60.72
16881 2021-04-02                          60.75
16882 2021-04-03                          60.77
16883 2021-04-04                          60.88
16884 2021-04-05                          61.00
16885 2021-04-06                          61.10
16886 2021-04-07                          61.20

In [66]:
first_isr_week['people_vaccinated_per_hundred'].mean()

60.917142857142856

# Q6

In [77]:
top_three_countris = new_data[new_data.location.apply(lambda x: x not in new_data_only_countries)].groupby('location')[['people_vaccinated_per_hundred','month']].max().reset_index()
top_three_countris.sort_values('people_vaccinated_per_hundred',ascending = False)[['location','month','people_vaccinated_per_hundred']].head(3)

             location  month  people_vaccinated_per_hundred
73          Gibraltar      4                         111.32
63   Falkland Islands      4                          75.57
159      Saint Helena      4                          71.83

# Q7

---
# GOOD LUCK !!!!
---

In [12]:
# do not type below this line